@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,800;0,900;1,100;1,200;1,800;1,900&display=swap");

/* Define CSS custom properties (variables) for your primary fonts */
:root {
  --font-primary: 'Roboto', sans-serif;
  --font-heading: 'Exo', sans-serif;
   
  --app-font-primary: 'Roboto', sans-serif;
  --app-font-heading: 'Exo', sans-serif;

  /* Colors */
  --app-layer1-bg: #fff;
  --app-layer2-bg: #121212; /* unique background for layer 2 */

  --app-nav-text-color: #ffffff;
  --app-nav-text-color-alt: #cccccc; /* alternative nav text color */

  /* Icons */
  --app-icon-color-primary: #050505;
  --app-icon-color-hover: #ffffff99;
}


/* Apply globally */
body {
  font-family: var(--font-primary);
  /* Any default font weight, size, etc. */
}

/* Optionally apply heading font globally for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

:root {
    --primaryBackground: #fff;
    --secondaryBackground:#1a1919;
    --third:#865d3d;
    --primaryColor: #000000;
    --secondaryColor:#000;
    --iconFirstColor:#ffffff4d;
    --iconSecondColor:#050505;
    --white: #fff;
    --black: #070707;
    
  }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {

  background-color: var(--primaryBackground);
}
.container{
    max-width:85%;
    margin: auto;
}

.flexSB{
    display:flex;
    
}
.icon{
    width: 40px;
    height:40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: transparent;
    color:var(--iconSecondColor);
    transition:0.5s
}
.icon:hover{
    cursor: pointer;
    background-color:var(--iconFirstColor);
    color:white;
}
a{
    text-decoration: none;
}
li{
    letter-spacing: none;
}

  button i {
    margin-left: 20px;
  }
  button:hover {
    box-shadow: none;
  }
@media screen and (max-width: 768px) {
    .icon{
        
        width:20px;
        height:20px;
  
        
    }
    .icon:hover{
        background-color:transparent;
        color:var(--iconSecondColor);
        transform: scale(1.5);
    }
}
html, body {
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.container {
  width: 100%; /* Ensure container never exceeds screen width */
  max-width: 100%;
  margin: auto;
  padding: 0 10px; /* optional padding inside screen */
}

